*.iml
lab-1/assignment_two/out/*
lab-1/assignment_two/.idea/*
lab-1/assignment_three/Test.java
.vscode
lab-1/assignment_one/reverse_input
lab-1/.idea/*
lab-1/out/*
non-lab-code/clls
non-lab-code/data/*
non-lab-code/*.o
non-lab-code/plot-venv/*
non-lab-code/out/*
non-lab-code/plots/*
lab-3/c-impl/*
lab-3/assignment-text
lab-3/java-impl/.idea/*
lab-3/java-impl/*.iml
lab-3/java-impl/out/*
lab-3/java-impl/*.txt
*.class
*.png
lab-3/java-impl/src/the-text.txt
lab-3/java-impl/src/todo

